.custom-single-value {
    display: flex;
    align-items: center;
    color: #000000; /* Text color for selected value */
}

.custom-option {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #2e2e48; /* Background color for dropdown options */
    color: #ffffff; /* Text color for options */
    cursor: pointer;
}

.custom-option:hover {
    background-color: #383863; /* Background color on hover */
}

.token-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%; /* Make the logo circular */
}

.token-label {
    color: #ffffff;
}
