form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 100%;
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input, .react-select__control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.react-select__control {
    height: 38px;
    display: flex;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:disabled {
    background-color: rgb(57, 139, 57);
    cursor: not-allowed;
}

.amount-container {
    position: relative;
    display: flex;
    align-items: center;
}

.amount-container input {
    flex: 1;
    padding-right: 40px; /* Adjust as needed */
}

.amount-unit {
    position: absolute;
    right: 10px; /* Adjust as needed */
    pointer-events: none;
    color: #666; /* Adjust color as needed */
}

.custom-single-value, .custom-option {
    display: flex;
    align-items: center;
}

.token-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

